body {
	padding-top:70px;
	width: 100%;
    height: 100%;
	width: 100%;
    height: 100%;
}

* {
	font-family: "Poppins", sans-serif !important;
}

a {
	color: inherit;
}

.submit-btn {
	background-color: #b1dbff;
	margin: 10px 0 10px 0;
}

.post {
	padding: 10px;
	margin-bottom: 5px;
	border-radius: 5px;
}

.odd {
	background-color: #f2f9ff;
	
}
.even {
	background-color: #eceff3;
}

.form-auth {
	max-width: 330px;
	padding: 5px;
	margin: 0 auto;
}

.menu {
    overflow: scroll;
}

.menu a {
    text-decoration: none;
    display: block;
}

.board {
	background: #00bfff;
	border: 5px solid #00bfff;
	border-collapse: collapse;
	width: 440px;
}

.board_column {
	height: 60px;
	width: 60px;
	background: #fff;
	border-left: 5px solid #00bfff;
	border-right: 5px solid #00bfff;
}

.board_column:hover {
	opacity: 0.4;
}